.buttonAuthor {
    border: 1px solid #000000;
    padding: 19px 65px;
    background: transparent;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
        background-color: black;
        color: white;
        transition: all linear 0.2s;
        cursor: pointer;
    }
}