.games {
    margin-top: 129px;

    &__item {
        &-nav {
            padding-bottom: 93px;

            &-title {
                font-weight: 500;
                font-size: 40px;
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #000000;
            }


        }
    }

    &__magazine {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
}