.success {
    padding: 150px 0;
}

.order-success {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 15px;
    }

    &__text {
        margin-right: auto;

        h4 {
            font-weight: 500;
            font-size: 25px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #000000;
        }

        h5 {
            font-weight: 500;
            font-size: 17px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}